extends layout

block content
  h1= title
  h4 Welcome to #{title}

  ul#sounds
    li
      audio(src="http://iftl.pastfuture.com/sounds/baconpancakes.mp3", autoplay, controls)
      p
        span#author Lydia
        &mdash;
        time 2014/01/01 4:00pm
    li
      audio(src="http://iftl.pastfuture.com/sounds/baconpancakes.mp3", autoplay, controls)
      p
        span#author Jon
        &mdash;
        time 2014/01/01 4:00pm
    li
      audio(src="http://iftl.pastfuture.com/sounds/baconpancakes.mp3", autoplay, controls)
      p
        span#author Lydia
        &mdash;
        time 2014/01/01 4:00pm
    li
      audio(src="http://iftl.pastfuture.com/sounds/baconpancakes.mp3", autoplay, controls)
      p
        span#author Jon
        &mdash;
        time 2014/01/01 4:00pm
    li
      audio(src="http://iftl.pastfuture.com/sounds/baconpancakes.mp3", autoplay, controls)
      p
        span#author Lydia
        &mdash;
        time 2014/01/01 4:00pm
    li
      audio(src="http://iftl.pastfuture.com/sounds/baconpancakes.mp3", autoplay, controls)
      p
        span#author Jon
        &mdash;
        time 2014/01/01 4:00pm
