body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

audio {
  float: left;
}

p {
  float: left;
  line-height: 0px;
  margin-left: 20px;
}

ul {
  clear: both;
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  list-style: none;
}
