body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
audio {
  float: left;
}
p {
  float: left;
}
ul {
  clear: both;
  list-style-type: none;
  list-style: none;
}
li {
  list-style-type: none;
  list-style: none;
}
