body {
  background-color: #c0e1ee;
  margin: 25px 0px 0px 50px;
  font: 15px Helvetica, Arial, sans-serif;
}

h1 {
  color: #e95a22;
  font-face: Helvetica;
}

a {
  color: #00B7FF;
}

audio {
  float: left;
}

p {
  float: left;
  line-height: 0px;
  margin-left: 20px;
}

ul {
  clear: both;
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  clear: left;
  float: left;
  list-style-type: none;
  list-style: none;
  margin: 10px 0;
  padding-right: 10px;
}

time {
  font-style: italic;
  font-size: 12px;
  padding-right: 5px;
}

.grayed {
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

#loading {
  font-size: 12px;
  img {
    float: left;
  }
  p {
    padding-left: 5px;
  }
}

#volume-controls {
  margin: 10px 0;
}

#fader {
  margin: 10px 5px;
}
