extends layout

block content
  h1= title

  div#volume-controls
    label(for="fader") Volume
    input(type="range", min="0", max="1", value="1", step=".05", id="fader")

  div#loading
    img(src="img/loading.gif")
    p Waiting for sounds&hellip;

  ul#sounds
