<h1>soundspac.es</h1>

<div id="volume-controls">
  <label for="fader">Volume</label>
  <input type="range" min="0" max="1" value="1" step=".05" id="fader" />
</div>

<div id="loading">
  <img src="/img/loading.gif" />
  <p>Waiting for sounds&hellip;</p>
</div>

<ul id="sounds"></ul>
