doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='icon', href='/img/favicon.ico')
    script(src="/socket.io/socket.io.js", type="text/javascript")
  body
    block content


    script(src="/js/client.js", type="text/javascript")
