<div class="jumbotron">
  <div id="loading">
    <img src="/img/loading.gif" />
    <p>Waiting for sounds&hellip;</p>
  </div>

  <ul id="sounds" class="list-group" data-room-key="<%- roomKey -%>">
  </ul>
</div>

