<div class="jumbotron">
  <div id="loading">
    <img src="/img/loading.gif" />
    <p>Waiting for sounds&hellip;</p>
  </div>

  <div id="sounds" data-room-key="<%- roomKey -%>">
    <div class="sound hidden">
      <audio src="" controls="" autoplay=""></audio>
      <div class="sound-data">
        <span class="sound-name"></span> — <time></time>
      </div>
    </div>
  </div>
</div>
